@import "fonts.css";
@import "normalize.css";

* {
    font-family: 'Unbounded', 'Arial', sans-serif;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1660px;
    height: max-content;
    position: relative;
}


.absolute-bg,
.absolute-block,
.game-flex__text-absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.game__section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
}

.game__section_active {
    opacity: 1;
}

.game-flex__text-absolute-bg {
    z-index: 1;
}

.main__container {
    padding-top: 73px;
}

.main__title {
    color: #FFF;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    background-color: #FF4450;
    padding: 25px 0px;
    text-align: center;
    border-radius: 100px;
    max-width: 1512px;
    margin: 0 auto;
}

.main__subtitle {
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin: 47px 0 40px 83px;
}

.main__content {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 495px;
    margin-left: 83px;
    margin-bottom: 40px;
}

.main__button {
    border-radius: 100px;
    background: #FFF;
    outline: none;
    border: none;
    color: #F00;
    font-size: 30px;
    line-height: 1.2;
    max-width: 330px;
    width: 100%;
    margin-left: 83px;
    padding: 28px 0;
    margin-bottom: 75px;
    cursor: pointer;
    transition: 0.1s linear;
}

.main__button:active {
    color: #FFF;
    background:#F00;
}

.game-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.game-flex__text-content {
    border-radius: 60px;
    background-color: #FF4450;
    max-width: 754px;
    width: 100%;
    padding: 35px 31px;
    margin-right: 21px;
}

.game-flex__head {
    position: relative;
    height: 762px;
}

.game-flex__head-text {
    z-index: 2;
    color: #000;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    position: relative;
    padding: 66px 0 0 52px;
}

.game-flex__footer {
    display: flex;
    align-items: center;
    border-radius: 60px;
    background: #FFF;
    padding: 19px 0;
    margin-top: 21px;
}

.game-flex__footer-link {
    background: #F7F7F7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.60) inset;
}

.game-flex__footer-link_1 {
    margin-left: 22px;
    margin-right: 10px;
}

.game-flex__footer-link_2 {
    margin-right: 25px;
}

.game-flex__footer-link_3 {
    margin-left: 101px;
}

.game-flex__footer-link img {
   width: 24px;
}

.game-flex__footer-button {
    outline: none;
    border: none;
    border-radius: 100px;
    background: #FF4450;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    padding: 13px 23px;
    cursor: pointer;
}

.game-flex__footer-button:disabled {
    filter: opacity(0.3) grayscale(0.4);
}

.game-flex__list {
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: repeat(3, 227px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 14px;
    border-radius: 60px;
    padding: 34px 41px 8px;

}

.game-flex__list-item {
    position: relative;
}

.game-flex__list-item input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    cursor: pointer;
    z-index: 10;
}

.game-flex__list-item input:checked+.game-flex__counter {
   opacity: 1;
}

.game-flex__counter {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    width: 43px;
    height: 43px;
    background-color: #F30000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    left: 16px;
    opacity: 0.4;
    transition: 0.1s linear;
}

.game-flex__list-head {
    height: 180px;
    display: flex;
    justify-content: center;
}

.game-flex__list-head img {
    width: auto;
}

.game-flex__list-footer {
    display: flex;
    align-items: flex-start;
}

.game-flex__list-head,
.game-flex__list-footer {
    border-radius: 30px;
    background: #FFF;
}

.game-flex__list-content {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.game-flex__list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    min-height: 30px;
}

.second .game-flex__text-content,
.second .game-flex__footer-button{
    background-color:  #FFB9BD;
    color: #000;

}

.second .game-flex__text-content {
    margin-right: 0;
}

.second .game-flex__list {
    grid-template-columns: repeat(2, 354px);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 19px;
    margin-right: 21px;
    padding: 59px 41px 8px 48px;
}

.second .game-flex__footer-link_3 {
    margin-left: 94px;
}

.second .game-flex__counter {
    position: initial;
    margin-right: 9px;
    width: 39px;
    height: 39px;
    font-size: 15px;
    line-height: 1.5;
    align-self: flex-start;
}

.second .game-flex__list-head,
.second .game-flex__list-footer {
    background: initial;
}

.second .game-flex__list-footer {
    margin-top: 22px;
    margin-left: -9px;
}

.second .game-flex__list-content {
    text-align: initial;
}

.third .game-flex__head-text {
    color: #FFF;
}

.third .game-flex__footer-button {
    padding: 13px 18px;
}

.third .game-flex__footer-link_3 {
    margin-left: 75px;
}

.third .game-flex__list {
    grid-template-columns: repeat(2, 342px);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 36px;
    padding: 54px 53px 40px;
}

.third .game-flex__list-head {
    height: 323px;
    position: relative;
}

.third .game-flex__list-head img {
    position: absolute;
}

.game-flex__list-head_third-1 {
    background: #FFF068;
}

.game-flex__list-head_third-1 img {
    top: 38px;
    left: -28px;
}

.game-flex__list-head_third-2 {
    background: #F30000;
}

.game-flex__list-head_third-2 img {
    top: 31px;
    left: 40px;
}

.game-flex__list-head_third-3 {
    background: #ECC2FF;
}

.game-flex__list-head_third-3 img {
    top: 15px;
    left: -10px;
}

.game-flex__list-head_third-4 {
    background: #5BDA58;
}

.game-flex__list-head_third-4 img {
    top: 40px;
    left: -7px;
}

.third .game-flex__list-content {
    font-size: 16px;
    text-align: initial;
    max-width: 246px;
    width: 100%;
}

.game-flex__list-svg {
    background-color: #E9F4FF;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.60) inset;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    transition: 0.1s linear;
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.third .game-flex__list-svg svg {
    fill: #F30000;
    transition: 0.1s linear;
}

.third .game-flex__list-item input {
    z-index: 2;
}

.third .game-flex__list-item input:checked+.game-flex__list-svg {
    background-color: #F30000;
}

.third .game-flex__list-item input:checked+.game-flex__list-svg svg {
    fill: #fff;
}

.third .game-flex__list-footer {
    min-height: 74px;
    justify-content: flex-start;
    padding-left: 84px;
    margin-top: 11px;
}

.fourth .game-flex__head-text {
    color: #FF4450;
}

.fourth .game-flex__list {
    grid-template-columns: initial;
    grid-template-rows: initial;
    grid-column-gap: initial;
    grid-row-gap: initial;
    display: flex;
    flex-wrap: wrap;
    padding: 34px 35px 44px;
}

.fourth .game-flex__list-item {
    overflow: hidden;
}

.fourth .game-flex__list-item {
    max-width: 240px;
    width: 100%;
    height: 340px;
}

.fourth .game-flex__list-head {
    position: absolute;
}


.game-flex__list-head_4-small {
    bottom: 23px;
    left: 42px;
}

.game-flex__list-head_4-big {
    bottom: 28px;
    left: 118px;
}


.fourth .game-flex__list-item:nth-child(-n+2) {
    margin-right: 16px;
    margin-bottom: 38px;
}

.fourth .game-flex__list-item:nth-child(4) {
    margin-right: 24px;
}

.fourth .game-flex__list-item:nth-last-child(-n+2) {
    max-width: 363px;
    height: 352px;
}

.fourth .game-flex__list-item:nth-last-child(-n+2) .game-flex__list-footer {
    max-width: 309px;
    justify-content: flex-start;
}

.fourth .game-flex__list-item:nth-last-child(-n+2) .game-flex__list-content {
    font-size: 20px;
}

.fourth .game-flex__head {
    height: 614px;
}

.game-flex__list-bg-4 {
    position: absolute;
    border-radius: 30px;
    background: #FFF068;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.1s linear;
    z-index: 1;
}

.fourth input:checked+.game-flex__list-bg-4 {
    background: #FF4450;
}

.fourth input:checked~.game-flex__list-footer .game-flex__list-content {
    color: #FFF;
}

.fourth .game-flex__list-item input {
    z-index: 3;
}

.fourth .game-flex__list-head,
.fourth .game-flex__list-footer {
    z-index: 2;
    background: none;
}

.fourth .game-flex__list-footer {
    position: relative;
    margin-top: 26px;
    margin-left: 20px;
    max-width: 185px;
}

.fourth .game-flex__list-content {
    font-size: 17px;
    line-height: 1.2;
    text-align: initial;
}

.result__item {
    background-color: #FF4450;
    border-radius: 40px;
    margin-bottom: 121px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.result__item-wrapper {
    position: relative;
    padding: 57px 91px 121px;
}

.result__title {
    color: #FFF;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 55px;
}

.result__content {
    display: flex;
}

.result__content img {
    max-width: 475px;
    width: 100%;
}

.result__content-text {
    background-color: #FFF;
    border-radius: 30px;
    margin-left: 28px;
    max-width: 976px;
    width: 100%;
}

.result__content-text-wrapper {
    padding: 43px 80px 10px 53px;
}

.result__content-text h2 {
    color: #FF4450;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 31px;
}

.result__content-text p {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 28px;
}

.result__content-text p:last-child {
   margin-bottom: 15px;
}

.result__content-text b {
    color: #FF4450;
    font-size: 20px;
    font-weight: 700;
}

.result__footer {
    border-radius: 100px;
    background: #FF4450;
    position: absolute;
    left: 50%;
    bottom: -86px;
    transform: translateX(-50%);
    max-width: 1182px;
    width: 100%;
    padding: 35px 0px;
}

.result__footer-wrapper {
    border-radius: 100px;
    display: flex;
    background: #FFF;
    max-width: 1112px;
    padding: 25px 0;
    margin: 0 auto;
}

.result__button {
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #FF4450;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    background: #F7F7F7;
    border: none;
    padding: 0 21px;
    box-shadow: -2px -2px 6px 0px rgba(0, 0, 0, 0.10) inset, 2px 2px 6px 0px rgba(255, 255, 255, 0.60) inset;
}

.game-flex__footer-link_result-1 {
    margin-left: 50px;
    margin-right: 11px;
}

.game-flex__footer-link_result-2 {
    background-color: #E9F4FF;
    margin-right: 65px;
}

.game-flex__footer-link_result-2 img {
    width: 40px;
}

@media (max-width: 1700px) {
    .container {
        max-width: 1340px;
    }

    .main__container {
        padding-top: 59px;
    }

    .main__title {
        font-size: 56px;
        padding: 20px 0;
        max-width: 1210px;
    }

    .main__subtitle {
        font-size: 29px;
        margin: 36px 0 32px 67px;
    }

    .main__content {
        font-size: 19px;
        margin-left: 67px;
        margin-bottom: 32px;
    }

    .main__button {
        border-radius: 80px;
        font-size: 24px;
        max-width: 264px;
        margin-left: 67px;
        padding: 22px 0;
        margin-bottom: 60px;
    }

    .game-flex__text-content {
        max-width: 604px;
        padding: 28px 25px;
    }

    .first .game-flex__text-content {
        margin-right: 17px;
    }

    .game-flex__head {
        height: 610px;
    }

    .game-flex__head-text {
        font-size: 35px;
        padding: 53px 0 0 42px;
    }

    .game-flex__footer {
        border-radius: 48px;
        padding: 15px 0;
        margin-top: 17px;
    }

    .game-flex__footer-button {
        border-radius: 80px;
        font-size: 20px;
        padding: 9px 18px;
    }

    .game-flex__footer-link {
        width: 52px;
        height: 52px;
    }

    .game-flex__footer-link img {
        width: 19px;
        height: 19px;
    }

    .game-flex__footer-link img {
        width: 19px;
        height: 19px;
    }

    .result__footer  .game-flex__footer-link_result-2 img {
        width: 28px;
        height: 28px;
    }

    .first .game-flex__footer-link_1 {
        margin-left: 18px;
        margin-right: 8px;
    }

    .first .game-flex__footer-link_2 {
        margin-right: 20px;
    }

    .first .game-flex__footer-link_3 {
        margin-left: 80px;
    }

    .first .game-flex__list {
        grid-template-columns: repeat(3, 182px);
        grid-column-gap: 23px;
        grid-row-gap: 3px;
        border-radius: 52px;
        padding: 27px 33px 7px;
    }

    .first .game-flex__counter {
        top: 9px;
        left: 13px;
        font-size: 18px;
        width: 34px;
        height: 34px;
    }

    .first .game-flex__list-content {
        font-size: 10px;
    }

    .first .game-flex__list-head {
        height: 144px;
    }

    .first .game-flex__list-head img {
        width: 122px;
    }

    .first .game-flex__list-footer {
        min-height: 24px;
    }

    .first .game-flex__list-head, .first .game-flex__list-footer {
        border-radius: 24px;
    }

    .second .game-flex__list {
        grid-template-columns: repeat(2, 284px);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-right: 17px;
        padding: 47px 33px 8px 37px;
    }

    .second .game-flex__list-head img {
        width: 275px;
    }

    .second  .game-flex__list-head {
        height: 144px;
    }

    .second .game-flex__counter {
        width: 31px;
        height: 31px;
        font-size: 12px;
    }

    .second .game-flex__list-content {
        font-size: 10px;
    }

    .second .game-flex__footer-link_3 {
        margin-left: 57px;
    }

    .third .game-flex__list-head {
        height: 259px;
    }

    .third .game-flex__list-head img {
        width: 238px;
    }

    .third .game-flex__list {
        grid-template-columns: repeat(2, 274px);
        grid-row-gap: 29px;
        padding: 44px 43px 32px;
    }

    .third .game-flex__list-content {
        font-size: 13px;
        max-width: 196px;
    }

    .third .game-flex__footer-link_3 {
        margin-left: 28px;
    }

    .third .game-flex__list-svg {
        width: 52px;
        height: 52px;
    }

    .game-flex__list-head_third-4 img {
        top: 61px;
        left: 6px;
    }

    .game-flex__list-head_third-3 img {
        top: 35px;
        left: 10px;
    }

    .game-flex__list-head_third-2 img {
        top: 56px;
        left: 36px;
    }

    .game-flex__list-head_third-1 img {
        top: 74px;
        left: 9px;
    }

    .fourth .game-flex__list-item:nth-last-child(-n+2) {
        max-width: 291px;
        height: 282px;
    }

    .fourth .game-flex__list-item:nth-child(4) {
        margin-right: 19px;
    }

    .fourth .game-flex__list-item {
        max-width: 192px;
        height: 270px;
    }

    .fourth .game-flex__list-item:nth-child(-n+2) {
        margin-right: 13px;
        margin-bottom: 31px;
    }

    .fourth .game-flex__list {
        padding: 27px 28px 36px;
    }

    .fourth .game-flex__footer-link_3 {
        margin-left: 50px;
    }

    .fourth .game-flex__list-item:nth-last-child(-n+2) .game-flex__list-content {
        font-size: 16px;
    }

    .fourth .game-flex__list-content {
        line-height: 1.4;
        font-size: 14px;
    }

    .game-flex__list-head_4-small {
        bottom: -54px;
        width: 190px;
        height: 190px;
    }

    .game-flex__list-head_4-big {
        bottom: -10px;
    }

    .result__item {
        margin-bottom: 97px;
    }

    .result__item-wrapper {
        padding: 46px 73px 98px;
    }

    .result__title {
        font-size: 64px;
        margin-bottom: 44px;
    }

    .result__content-text {
        border-radius: 24px;
        margin-left: 23px;
        max-width: 781px;
    }

    .result__content-text-wrapper {
        padding: 34px 20px 8px 42px;
    }

    .result__content-text h2 {
        font-size: 34px;
        margin-bottom: 25px;
    }

    .result__content-text p {
        font-size: 15px;
        margin-bottom: 13px;
        line-height: 1.7;
    }

    .result__content-text b {
        font-size: 16px;
    }

    .result__content img {
        max-width: 380px;
    }

    .result__footer {
        border-radius: 80px;
        bottom: -69px;
        max-width: 946px;
        padding: 28px 0px;
    }

    .result__footer-wrapper {
        border-radius: 80px;
        max-width: 890px;
        padding: 20px 0;
    }

    .result__button {
        border-radius: 80px;
        font-size: 20px;
        padding: 0 17px;
    }

    .game-flex__footer-link_result-1 {
        margin-left: 40px;
        margin-right: 8px;
    }

    .game-flex__footer-link_result-2 {
        margin-right: 52px;
    }
}